*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

.hero{
height:100vh;
background:url('bmw.jpeg') center center/cover no-repeat;
position:relative;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
}

.hero-content{
position:relative;
z-index:2;
padding:20px;
}

h1{
font-size:4rem;
color:#4da6ff;
text-shadow:0 0 30px #4da6ff;
}

.subtitle{
margin-top:20px;
font-size:1.2rem;
max-width:700px;
}

#countdown{
margin-top:30px;
font-size:1.5rem;
font-weight:bold;
color:#4da6ff;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 30px;
background:#4da6ff;
color:white;
border-radius:50px;
text-decoration:none;
transition:.3s;
}

.btn:hover{
transform:scale(1.1);
}

.gallery{
padding:80px 10%;
text-align:center;
}

.photos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:30px;
}

.photos img{
width:250px;
height:300px;
object-fit:cover;
border-radius:20px;
box-shadow:0 0 20px #4da6ff;
transition:.4s;
}

.photos img:hover{
transform:scale(1.08);
}

.letter-section{
padding:100px 10%;
text-align:center;
}

.envelope{
max-width:700px;
margin:auto;
cursor:pointer;
}

.front{
padding:30px;
background:#4da6ff;
border-radius:15px;
font-size:1.4rem;
}

.letter{
display:none;
padding:30px;
margin-top:20px;
background:#111;
border-radius:20px;
line-height:2;
}

.reasons{
padding:80px 10%;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:40px;
}

.card{
background:#111;
padding:30px;
border-radius:20px;
box-shadow:0 0 20px #4da6ff;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

#musicBtn{
position:fixed;
top:20px;
right:20px;
z-index:1000;
background:#4da6ff;
color:white;
border:none;
padding:15px 20px;
border-radius:50px;
cursor:pointer;
}

.stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:50px 50px;
animation:moveStars 80s linear infinite;
z-index:-1;
}

@keyframes moveStars{
from{
transform:translateY(0);
}
to{
transform:translateY(-1000px);
}
}

.heart{
position:fixed;
color:#4da6ff;
animation:float 8s linear forwards;
}

@keyframes float{
0%{
transform:translateY(100vh);
opacity:1;
}
100%{
transform:translateY(-100px);
opacity:0;
}
}

@media(max-width:768px){

h1{
font-size:2.5rem;
}

.subtitle{
font-size:1rem;
}

.photos img{
width:100%;
height:auto;
}
}